.price-input:disabled {
    background-color: #ffffff;
}

.logo-signin {
    width: 200px;
    height: auto;
}

.logo-text-login {
    margin-top: 1rem;
    letter-spacing: 3px;
    font-weight: 700;
}

.logo-sidebar-admin {
    width: auto !important;
    height: 45px !important;
}

.btn-sendmessage {
    width: 12rem;
    margin: 0.2rem;
    border: transparent;
    background-color: #1a73e8;
    border: 2px solid #063573;
    color: #ffffff;
    border-radius: 5px;
}

.form-control-dark {
    border: 2px solid #bfa573;
    background-color: transparent;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
    color: #ffffff;
}

.dash-signal-preview {
    border: 2px solid #b48b3d;
    border-radius: 10px;
    height: 100%;
}

.dash-signal-preview .dash-referral label {
    color: #ffffff;
    font-size: 14px;
}

.dash-signal-preview .dash-referral {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.dash-signal-preview .dash-referral .btn-primary {
    width: 6rem;
}

.dash-signal-preview .title-signal-preview {
    padding: 1rem;
    border-bottom: 2px solid #b48b3d;
}

.dash-signal-preview .title-signal-preview h4 {
    color: #ffffff;
}

.dash-signal-preview .main-signal-preview .date {
    padding: 0.5rem;
}

.dash-signal-preview .main-signal-preview .insturctions .instructions-title {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.dash-signal-preview .main-signal-preview .insturctions .box-insturctions {
    background-color: #0e7304;
    padding: 0.8rem 1rem;
    width: 20rem;
    border-radius: 5px;
}

.dash-signal-preview .main-signal-preview .insturctions .box-insturctions h4 {
    color: #bfa573;
    font-weight: 700;
    font-size: 20px;
}

.dash-signal-preview .main-signal-preview .insturctions .box-insturctions span {
    color: #bfa573;
    font-weight: 600;
    font-size: 10px;
}

.dash-signal-preview .main-signal-preview .signal-preview {
    width: 100%;
    margin: 2rem 0rem;
}

.dash-signal-preview
    .main-signal-preview
    .signal-preview
    .all-buy
    .wrapper-buy
    .buy,
.dash-signal-preview
    .main-signal-preview
    .signal-preview
    .all-sell
    .wrapper-sell
    .sell {
    padding: 0.5rem 2rem;
}

.dash-signal-preview
    .main-signal-preview
    .signal-preview
    .all-buy
    .wrapper-buy
    .buy
    .buy-title
    .buy-text,
.dash-signal-preview
    .main-signal-preview
    .signal-preview
    .all-sell
    .wrapper-sell
    .sell
    .sell-title
    .sell-text {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}

.dash-signal-preview
    .main-signal-preview
    .signal-preview
    .all-buy
    .wrapper-buy
    .buy
    .buy-title
    .buy-date,
.dash-signal-preview
    .main-signal-preview
    .signal-preview
    .all-sell
    .wrapper-sell
    .sell
    .sell-title
    .sell-date {
    font-size: 10px;
    color: #ffffff;
    font-weight: 400;
}

.dash-signal-preview
    .main-signal-preview
    .signal-preview
    .all-buy
    .wrapper-buy
    .buy
    input,
.dash-signal-preview
    .main-signal-preview
    .signal-preview
    .all-sell
    .wrapper-sell
    .sell
    input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    stroke: none;
}

.dash-statistics {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dash-statistics .statistics {
    width: 25%;
    padding: 0rem 1rem;
}

.send-signals {
    border: 2px solid #b48b3d;
    border-radius: 10px;
    height: 100%;
}

.send-signals .title-signal-preview {
    padding: 1rem;
    border-bottom: 2px solid #b48b3d;
}

.send-signals .main-send-signal .insturctions .instructions-title {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin: 1rem;
}

.send-signals .main-send-signal .insturctions .box-insturctions {
    background-color: #343434;
    padding: 0.8rem 1rem;
    width: 20rem;
    border-radius: 5px;
}

.send-signals .main-send-signal .insturctions .box-insturctions h4 {
    color: #bfa573;
    font-weight: 700;
    font-size: 20px;
}

.send-signals .main-send-signal .insturctions .box-insturctions span {
    color: #bfa573;
    font-weight: 600;
    font-size: 10px;
}

.send-signals .main-send-signal .signal-preview {
    width: 100%;
    margin: 2rem 0rem;
}

.send-signals .main-send-signal .signal-preview .all-buy .wrapper-buy .buy,
.send-signals .main-send-signal .signal-preview .all-sell .wrapper-sell .sell {
    padding: 0.5rem 2rem;
}

.send-signals
    .main-send-signal
    .signal-preview
    .all-buy
    .wrapper-buy
    .buy
    .buy-title
    .buy-text,
.send-signals
    .main-send-signal
    .signal-preview
    .all-sell
    .wrapper-sell
    .sell
    .sell-title
    .sell-text {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
}

.send-signals
    .main-send-signal
    .signal-preview
    .all-buy
    .wrapper-buy
    .buy
    .buy-title
    .buy-date,
.send-signals
    .main-send-signal
    .signal-preview
    .all-sell
    .wrapper-sell
    .sell
    .sell-title
    .sell-date {
    font-size: 10px;
    color: #ffffff;
    font-weight: 400;
}

.send-signals
    .main-send-signal
    .signal-preview
    .all-buy
    .wrapper-buy
    .buy
    input,
.send-signals
    .main-send-signal
    .signal-preview
    .all-sell
    .wrapper-sell
    .sell
    input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    stroke: none;
    margin-right: 10px;
}

.send-signals
    .main-send-signal
    .signal-preview
    .all-buy
    .wrapper-buy
    .buy
    .inside-buy,
.send-signals
    .main-send-signal
    .signal-preview
    .all-sell
    .wrapper-sell
    .sell
    .inside-sell {
    width: 100%;
    margin-right: 10px;
}

.wrapper-message-email {
    border: 2px solid #b48b3d;
    border-radius: 0px 0px 10px 10px;
}

.btn {
    color: #ffffff !important;
}

.dropdown-menu {
    background-color: #343434;
}

.wrapper-message-subject {
    border: 2px solid #b48b3d;
    border-bottom: transparent;
}

.wrapper-message-subject .bg-subject {
    padding: 0.5rem 5rem 0.5rem 1rem;
    background-color: #b48b3d;
    color: #ffffff;
}

.wrapper-message-subject input {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    padding-left: 1rem;
}

.note-editable {
    color: #b48b3d !important;
}

.history-table-message {
    margin-top: 2rem;
}

.table {
    color: #ffffff;
}

.table thead th {
    border-bottom: none;
}

.table td {
    border-top: 1px solid #bfa573;
}

.table th {
    border-top: none;
}

#table_message_wrapper {
    border: 2px solid #b48b3d;
}

#table_message_filter,
#table_message_length {
    display: none;
}

#table_message_length {
    padding: 0.5rem;
}

#table_message_length select {
    padding: 0.2rem;
}

#table_message_paginate,
#table_message_info {
    padding: 1rem;
    color: #ffffff;
}

.dash-table-totalmember {
    border: 2px solid #bfa573;
    /* padding: 1rem; */
    border-radius: 20px 20px 0px 0px;
}

.thead_totalmember {
    background-color: #bfa573;
    color: #000000;
}

#table_totalmember_wrapper {
    border: none;
}

#table_totalmember_length {
    display: none;
}

div.dataTables_wrapper div.dataTables_filter label {
    color: #ffffff;
}

div.dataTables_wrapper div.dataTables_filter input {
    border: 2px solid #bfa573;
    background-color: #2a2a2a;
    color: #ffffff;
}

#table_totalmember_length {
    padding: 0.5rem;
}

#table_totalmember_length select {
    padding: 0.2rem;
}

#table_totalmember_paginate,
#table_totalmember_info {
    padding: 1rem;
    color: #ffffff;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

div.dataTables_scrollHead table.dataTable {
    width: 100% !important;
}

.iq-card-body .active {
    width: 100%;
    height: 5px;
    border-radius: 9999px;
    background-color: #0e7304;
}

.iq-card-body .disable {
    width: 100%;
    height: 5px;
    border-radius: 9999px;
    background-color: transparent;
}

.dash-table-freemember {
    border: 2px solid #bfa573;
    /* padding: 1rem; */
    border-radius: 20px 20px 0px 0px;
}

.thead_freemember {
    background-color: #bfa573;
    color: #000000;
}

#table_freemember_wrapper {
    border: none;
}

#table_freemember_length {
    display: none;
}

div.dataTables_wrapper div.dataTables_filter label {
    color: #ffffff;
}

div.dataTables_wrapper div.dataTables_filter input {
    border: 2px solid #bfa573;
    background-color: #2a2a2a;
    color: #ffffff;
}

#table_freemember_length {
    padding: 0.5rem;
}

#table_freemember_length select {
    padding: 0.2rem;
}

#table_freemember_paginate,
#table_freemember_info {
    padding: 1rem;
    color: #ffffff;
}

.dash-detailmember {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-top: 3rem;
}

.dash-detailmember > div {
    padding: 8px 20px;
    border: 1px solid #8a6d3b;
    display: flex;
    align-items: center;
    margin: 0rem 0.3rem;
}

.dash-detailmember .header {
    grid-column: span 2;
    font-weight: bold;
    background-color: #1e1e1e;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

.dash-detailmember .label {
    font-weight: bold;
    justify-content: flex-start;
    color: #ffffff;
}

.dash-detailmember .value {
    justify-content: space-between;
    color: #ffffff;
}

.dash-detailmember .value .upgrade-btn {
    background-color: #d4af37;
    color: black;
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.dash-detailmember .value .upgrade-btn:disabled {
    background-color: #575757;
    color: black;
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.icon-pass-login {
    font-size: 28px;
    position: absolute;
    display: block;
    right: 20px;
    bottom: 7px;
}

.modal-content.upgrade-member {
    background: linear-gradient(
        107deg,
        #b48b3d 49.51%,
        #bfa573 100%
    ) !important;
}

.modal-content.upgrade-member .modal-header {
    border-bottom: none !important;
}

.modal-content.upgrade-member .modal-body {
    padding: 0rem 1rem !important;
}

.modal-content.upgrade-member .modal-body .btn-modal-upgrade {
    border-radius: 5px;
    border: 1px solid #000;
    background: linear-gradient(90deg, #b48b3d 0%, #bfa573 100%);
    padding: 0rem 1rem;
}

.modal-content.upgrade-member .modal-body p {
    color: #000000;
}

.modal-content.upgrade-member .modal-body h4 {
    color: #000000;
    font-weight: 700;
}

.dash-table-referralmember {
    border: 2px solid #bfa573;
    /* padding: 1rem; */
    border-radius: 20px 20px 0px 0px;
}

.thead_referralmember {
    background-color: #bfa573;
    color: #000000;
}

#table_referralmember_wrapper {
    border: none;
}

#table_referralmember_length {
    display: none;
}

#table_referralmember_length {
    padding: 0.5rem;
}

#table_referralmember_length select {
    padding: 0.2rem;
}

#table_referralmember_paginate,
#table_referralmember_info {
    padding: 1rem;
    color: #ffffff;
}

.wrapper-addreferral {
    margin-bottom: 1rem;
}

.wrapper-addreferral label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.form-addreferral {
    width: 100%;
}

.form-addreferral .wrapper-addreferral {
    width: 100%;
    margin: 2rem 0rem;
}

.form-addreferral .wrapper-addreferral label {
    color: #ffffff;
}

.form-addreferral .wrapper-addreferral input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bfa573;
    background: #000000;
    color: #ffffff;
}

.form-addreferral .wrapper-addreferral input[type='radio'] {
    width: auto; /* Hilangkan lebar 100% */
    margin: 0 1rem; /* Berikan margin 1rem */
    border: none; /* Opsional: hilangkan border default */
    background: transparent; /* Opsional: sesuaikan background jika perlu */
}

.upgrade-btn {
    background-color: #d4af37;
    color: black;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.upgrade-btn[disabled] {
    background-color: #575757;
    color: black;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-danger[disabled] {
    background-color: #575757;
    color: black;
    border: none;
}

.cancel-btn {
    background-color: #ff0000;
    color: black;
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.cancel-btn[disabled] {
    background-color: #575757;
    color: black;
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Atur container agar elemen referral card dan active API card tersusun dalam satu baris */
.referral-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.withdraw-comission {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.withdraw-comission .custom-card {
    min-width: 25rem;
}

/* Referral card dengan lebar mengikuti panjang konten */
.referral-card {
    display: flex;
    align-items: center;
    gap: 20px; /* Jarak antara referral link dan referral-qr */
    border: 2px solid #bfa573;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    width: fit-content; /* Lebar hanya sepanjang kontennya */
}

/* Pengaturan untuk referral link */
.referral-link {
    text-align: left;
}

/* Pengaturan elemen di dalam referral-qr */
.referral-qr {
    display: flex;
    align-items: center;
    gap: 10px;
}

.referral-qr p {
    margin: 0;
    color: #b48b3d;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Active API card tetap menggunakan lebar otomatis dan berada di sisi kanan */
.active-api-card {
    display: flex;
    align-items: center;
    gap: 10px; /* Jarak antara tulisan dan SVG */
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #b48b3d;
    background: rgba(180, 139, 61, 0.25);
    padding: 0.5rem 1rem;
    text-align: center;
    /* Lebar akan mengikuti grid system (col-md-2) */
}

/* RESPONSIVE */
@media (max-width: 1699px) {
}
@media (max-width: 1450px) {
}
@media (max-width: 1400px) {
}
@media (min-width: 1300px) {
}
@media (max-width: 1399px) {
}
@media (max-width: 1299px) {
}

@media (max-width: 1199px) {
    .dash-statistics .statistics {
        width: 30%;
    }
}

@media (max-width: 979px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 580px) {
    .dash-statistics .statistics {
        width: 50%;
    }
}
@media (max-width: 479px) {
}
@media (max-width: 359px) {
}

@media (max-width: 1399px) {
}
@media (max-width: 1299px) {
}

@media (max-width: 1199px) {
    .dash-statistics .statistics {
        width: 30%;
    }
}

@media (max-width: 979px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 580px) {
    .dash-statistics .statistics {
        width: 50%;
    }
}
@media (max-width: 479px) {
}
@media (max-width: 359px) {
}

/* Styling untuk card baru */
.custom-card {
    border: 2px solid #bfa573;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    height: auto;
    flex: 1;
}

.custom-card .card-row {
    margin-bottom: 0.5rem;
}

/* Styling untuk card sebelah kiri */
.left-card .card-top {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: left;
}

.left-card .card-bottom {
    color: #000;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
}

/* Styling untuk card sebelah kanan */
.right-card .card-top {
    color: #b48b3d;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.right-card .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Kolom kiri pada row bawah card kanan */
.right-card .left-column {
    color: #b48b3d;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

/* Kolom kanan – tombol Renew pada row bawah card kanan */
.right-card .right-column .btn-renew {
    border: none;
    border-radius: 7px;
    background: linear-gradient(90deg, #b48b3d 0%, #bfa573 100%);
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Pastikan container untuk kedua card menggunakan flex dan align tengah */
.statistics-cards {
    display: flex;
    align-items: stretch;
}

/* Styling untuk card kiri dengan background gradient */
.left-card {
    background: linear-gradient(107deg, #b48b3d 50.42%, #bfa573 100%);
}

/* Override warna teks pada card kiri agar kontras (putih) */
.left-card .card-top,
.left-card .card-bottom {
    color: #000;
}

/* Optional: Styling custom untuk text selection pada card kiri */
.left-card ::selection {
    background: #b48b3d;
    color: #000;
}

/* Untuk card kanan, pastikan tidak ada background khusus */
.right-card {
    background: transparent;
}

/* Pastikan content row di dalam right-card align middle */
.right-card .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Pastikan kedua card memiliki ukuran sama menggunakan flex */
.statistics-cards {
    display: flex;
    align-items: stretch;
}

.col-md-6 {
    display: flex;
}

/* Card Full Width dengan 3 row (header, detail, dan footer) – Kelas unik menggunakan prefix "binance-" */
.binance-fullcard {
    width: 100%;
    border: 2px solid #bfa573;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.binance-fullcard-header {
    font-weight: bold;
    color: #bfa573;
    padding: 8px 20px;
    text-align: center;
}

/* Grid container untuk binance detail card dengan gap antar kolom dan baris */
.binance-detailcard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem; /* Gap 1rem akan diterapkan antara label dan value serta antar row */
    margin-top: 1rem;
}

/* Grid container untuk wallet detail card dengan gap antar kolom dan baris */
.wallet-detailcard {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(300px, 3fr);
    gap: 0.5rem; /* Gap 0.5rem akan diterapkan antara label dan value serta antar row */
    margin: 1rem 0;
    width: 90%; /* Membatasi lebar keseluruhan card */
    max-width: 800px; /* Maksimum lebar */
}

/* Styling setiap item detail */
.binance-detailcard > div,
.wallet-detailcard > div {
    padding: 8px 20px;
    border: 1px solid #bfa573;
    display: flex;
    align-items: center;
    margin: 0;
}

/* Atur margin khusus untuk label dan value */
.binance-detailcard .label {
    margin-left: 5rem;
    margin-right: 0;
    color: #bfa573;
}

/* Label untuk wallet-detailcard dengan margin yang berbeda */
.wallet-detailcard .label {
    margin-left: 0;
    margin-right: 0;
    color: #bfa573;
    justify-content: start;
    text-align: left;
    font-weight: bold;
}

/* Value didorong dari sisi kanan sebanyak 3rem */
.binance-detailcard .value {
    margin-left: 0;
    margin-right: 5rem;
    color: #bfa573;
}

/* Value untuk wallet-detailcard dengan margin yang berbeda */
.wallet-detailcard .value {
    margin-left: 0;
    margin-right: 0;
    color: #bfa573;
    padding-left: 1.5rem; /* Memberikan padding di sisi kiri teks */
    overflow: hidden;
    text-overflow: ellipsis; /* Menampilkan elipsis jika teks terlalu panjang */
}

.binance-fullcard-footer {
    padding: 10px 20px;
    text-align: center;
}

.binance-fullcard-footer .edit-btn {
    background: linear-gradient(90deg, #b48b3d 0%, #bfa573 100%);
    color: black;
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.binance-fullcard-footer .edit-btn:disabled {
    background-color: #575757;
    color: black;
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Row button baru di bawah header Connect Binance API */
.binance-button-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem; /* Jarak antar button, bisa disesuaikan */
    margin: 0 0 1rem 0; /* Optional: jarak atas */
}

.binance-button-row button {
    border: 1px solid #bfa573;
    background: transparent;
    color: #000;
    /* background-color: #bfa573; */
    border-radius: 7px;
    background: linear-gradient(90deg, #b48b3d 0%, #bfa573 100%);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Container yang membungkus seluruh checkbox dengan border */
.role-wrapper {
    grid-template-columns: repeat(3, 1fr); /* Dua kolom sama lebar */
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #bfa573;
    border-radius: 5px;
}

/* Item untuk setiap checkbox dan label, tanpa border */
.role-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Pastikan checkbox tetap di sebelah kiri */
}

.role-item input[type='checkbox'] {
    width: 1.5rem;
    /* height: 1.5rem; */
    accent-color: #bfa573;
    margin-right: 0.5rem;
}

.role-item label {
    margin: 0;
    font-size: 14px;
}

.withdraw-options {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

.withdraw-title {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.withdraw-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.transfer-btn {
    border-radius: 10px;
    border: 2px solid #b48b3d;
    background: linear-gradient(107deg, #b48b3d 50.42%, #bfa573 100%);
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    min-width: 400px;
}

.transfer-btn:hover {
    color: #000 !important;
}

.withdraw-usdt .send-signals {
    border: none !important;
    box-shadow: none !important;
}

.withdraw-usdt .send-signals .title-signal-preview {
    padding: 1rem;
    justify-content: center !important;
    border-bottom: none !important;
}

/* Container untuk opsi account type gunakan flex dengan gap */
.account-type .account-options {
    display: flex;
    gap: 1rem; /* Atur jarak antar opsi, bisa disesuaikan */
}

/* Setiap opsi akan menempati ruang yang sama */
.account-type .account-option {
    flex: 1;
    border: 1px solid #bfa573; /* Warna gold sesuai style lainnya */
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

/* Jika ingin radio button berwarna hijau secara penuh */
.account-type .account-option input[type='radio'] {
    accent-color: green; /* Pastikan browser mendukung properti ini */
}

/* Contoh tambahan styling di "@custom.css" */
.form-control#address {
    border: 1px solid #bfa573;
    border-radius: 5px;
    height: 45px;
    padding-left: 10px;
}

.address-wrapper {
    margin: 1rem 0 !important;
}

.address-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.address-group .form-control {
    flex: 1;
    min-width: 150px;
}

/* Styling untuk modal */
.modal-content {
    background-color: #bfa573; /* Warna latar belakang */
    color: #000; /* Warna teks */
    border-radius: 10px; /* Membuat sudut membulat */
    padding: 20px; /* Memberikan padding di dalam modal */
    text-align: center; /* Memusatkan teks */
}

.modal-header {
    border-bottom: none; /* Menghilangkan garis bawah header */
}

.modal-title {
    font-weight: bold; /* Membuat teks judul tebal */
}

.modal-body {
    font-size: 16px; /* Ukuran font untuk konten modal */
    margin: 20px 0; /* Memberikan margin atas dan bawah */
}

.close {
    color: #000; /* Warna tombol close */
    opacity: 1; /* Mengatur opasitas tombol close */
}

.close:hover {
    color: #333; /* Warna tombol close saat hover */
}

.modal-body h2,
.modal-body h5 {
    color: #000; /* Warna teks */
    font-family: 'Noto Sans', sans-serif; /* Pastikan font sesuai */
}

.modal-body h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
}

.modal-body h5 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: 100vh; /* Memastikan modal berada di tengah secara vertikal */
}

.modal-content {
    margin: auto; /* Memastikan modal berada di tengah secara horizontal */
}

/* Card untuk Account Status tanpa border luar */
.account-status-card {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.account-status-header {
    font-weight: bold;
    color: #bfa573;
    padding: 8px 0;
    text-align: left;
    font-size: 18px;
}

/* Grid container untuk account status detail dengan gap antar kolom dan baris */
.account-status-detail {
    display: grid;
    grid-template-columns: minmax(120px, 1fr) minmax(300px, 3fr);
    gap: 0.5rem;
    margin: 1rem 0;
    width: 100%;
}

/* Styling setiap item detail */
.account-status-detail > div {
    padding: 8px 20px;
    border: 1px solid #bfa573;
    display: flex;
    align-items: center;
    margin: 0;
}

/* Label untuk account status dengan align left */
.account-status-detail .label {
    margin-left: 0;
    margin-right: 0;
    color: #bfa573;
    justify-content: flex-start;
    text-align: left;
    font-weight: bold;
}

/* Value untuk account status dengan margin yang berbeda */
.account-status-detail .value {
    margin-left: 0;
    margin-right: 0;
    color: #bfa573;
    padding-left: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.account-status-footer {
    padding: 10px 0;
    text-align: center;
}

/* Button untuk extend/new membership */
.membership-btn {
    background: linear-gradient(90deg, #b48b3d 0%, #bfa573 100%);
    color: #000;
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
    min-height: 125px;
    min-width: 460px;
    text-transform: capitalize;
    text-align: center;
}

.membership-btn:hover {
    background: linear-gradient(90deg, #a37b2d 0%, #af9563 100%);
}

.membership-btn:disabled {
    background-color: #575757;
    color: black;
    border: none;
}

/* SET INVESTMENT CAPITAL STYLING */
.investment-title {
    color: #bfa573;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    margin-bottom: 30px;
}

.min-capital-text,
.additional-capital-text,
.total-capital-text,
.payment-description {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 125% */
    leading-trim: both;

    text-edge: cap;
}

.min-capital-value {
    background-color: #e0e0e0;
    border: none;
    height: 60px;
    font-size: 32px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Serif', serif;
}

.additional-capital-input,
.payment-input {
    background-color: #e0e0e0;
    border: none;
    height: 60px;
    font-size: 32px;
    font-weight: 700;
    color: #000;
    text-align: center;
    border-radius: 5px;
    font-family: 'Noto Serif', serif;
}

.payment-input {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

/* Styling untuk input group */
.input-group {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.input-group .form-control {
    width: 100%;
    border-radius: 5px;
    margin: 0;
}

.additional-capital-input {
    margin-bottom: 0 !important;
}

/* Styling untuk tombol + dan - */
.input-group-prepend,
.input-group-append {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.input-group-prepend {
    left: -75px;
}

.input-group-append {
    right: -75px;
}

.input-group-prepend button,
.input-group-append button {
    background-color: #e0e0e0;
    color: #000 !important;
    font-size: 28px;
    font-weight: 700;
    border: none;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0;
    font-family: 'Noto Serif', serif;
}

/* Styling untuk tampilan total capital */
.total-capital-display {
    background-color: #bda069;
    color: #000;
    padding: 0 15px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    font-family: 'Noto Serif', serif;
}

.membership-days {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Noto Serif', serif;
}

.confirm-button {
    background: linear-gradient(90deg, #b48b3d 0%, #bfa573 100%);
    color: #000 !important;
    border: none;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
    width: 100%;
    margin: 20px auto 30px;
    border-radius: 5px;
    max-width: 200px;
    display: block;
    font-family: 'Noto Serif', serif;
}

.confirm-button:hover {
    background: linear-gradient(90deg, #a37b2d 0%, #af9563 100%);
}

.investment-note {
    color: #bfa573;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Serif', serif;
    color: #fff;
    leading-trim: both;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 125% */
}

/* Tambahan untuk total capital display */
#additional-capital::-webkit-inner-spin-button,
#additional-capital::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#additional-capital {
    -moz-appearance: textfield;
}

/* Styling khusus untuk halaman set investment capital */
.set-investment-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    transition: all 0.3s ease;
    width: 100%;
    font-family: 'Noto Serif', serif;
}

/* Responsif untuk sidebar collapse */
body.sidebar-main .content-page .set-investment-container {
    max-width: 800px;
    transition: all 0.3s ease;
}

/* Media query untuk layar yang lebih kecil */
@media (max-width: 992px) {
    .set-investment-container {
        max-width: 100%;
        padding: 20px 15px;
    }
}
