# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# IDE files
.idea/
.vscode/

# Thumbnails
._*

# Project specific
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
.env
.env.backup