/**
 * TABLE OF CONTENTS
 *
 * 1. General
 *      1.1 Button
 * 2. Homepage
 *      2.1 Navbar
 *      2.2 Banner
 *      2.3 Why 
 *      2.4 Service 
 *      2.5 Contact Form 
 *      2.6 Footer Homepage 
 *      2.7 Finance Homepage 
 * 3 Contact Us 
 * 6 Responsive
 *
 */

 
/*----------------------------------------------------------
1. General Start
------------------------------------------------------------*/ 

:root {
    --text-black-pnglobal: #1E1E1E;
    --text-primary-pnglobal: #BFA573;
    --bg-contactform-pnglobal: #504F4D;
}

.f-notoserif {
    font-family: "Noto Serif", serif;
}

.f-montserrat {
    font-family: "Montserrat", sans-serif;
}

.f-inter {
    font-family: "Inter", sans-serif;
}

.f-odor {
    font-family: "Odor Mean Chey", serif;
}

.f-lato {
  font-family: "Lato", sans-serif;
}
/*----------------------------------------------------------
1. General End
------------------------------------------------------------*/ 

/*----------------------------------------------------------
1.1 Button Start
------------------------------------------------------------*/ 

/*----------------------------------------------------------
1.1 Button End
------------------------------------------------------------*/ 
.btn-contactform {
    background-color: var(--text-primary-pnglobal);
    color: var(--text-black-pnglobal);
    padding: 0.5rem 1.4rem;
    font-weight: 600;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
}

.btn-contactform:hover {
    background-color: var(--text-primary-pnglobal);
    color: var(--text-black-pnglobal);
    padding: 0.5rem 1.4rem;
    font-weight: 600;
    box-shadow: .9px 1px 0 0 #241d0f, 1.5px 2px 0 0 #241d0f, 2.5px 3px 0 0 #241d0f, 3.5px 4px 0 0 #241d0f, 4.5px 5px 0 0 #241d0f, 5.5px 6px 0 0 #241d0f, 6.5px 7px 0 0 #241d0f, 7.5px 8px 0 0 #241d0f, 8.5px 9px 0 0 #241d0f, 9.5px 10px 0 0 #241d0f;
}
/*----------------------------------------------------------
2.1 Navbar Start
------------------------------------------------------------*/ 
.btn-navbar {
    background-color: rgba(30, 30, 30, 1) !important;
    color: var(--text-primary-pnglobal) !important;
    padding: 0.5rem 1rem !important;
}

.link-navbar-text {
    font-family: "Montserrat", sans-serif;
    line-height: 18px;
    font-weight: 800;
    font-variant: small-caps;
    color: var(--text-primary-pnglobal);
}

.link-navbar-text:hover{
    color: #FFFFFF;
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
}

.navbar{
    background: rgba(217, 217, 217, 0.15);
}

.nav-seeservice {
    max-height: 100%;
}

.navbar.active {
    background-color: rgb(0, 0, 0) !important;
}

/*----------------------------------------------------------
2.1 Navbar End
------------------------------------------------------------*/ 

/*----------------------------------------------------------
2.2 Banner Start
------------------------------------------------------------*/ 
.logo-text-banner {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
/*----------------------------------------------------------
2.2 Banner End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
2.3 Why Start
------------------------------------------------------------*/ 
.bg-why {
    position: relative;
    z-index: 1;
}

.bg-why::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: none;
    background-repeat: no-repeat;
    /* background-position-x: 30%; */
    background-position: right;   
    background-size: contain; 
    opacity: 0.3;
    z-index: -1;
}

.bg-why .title-why {
    display: inline-block;
    padding-bottom: 2rem;
    color: #FFFFFF;
    border-bottom: 3px solid var(--text-primary-pnglobal);
    text-align: center;
}

.bg-why .subtitle-why {
    color: var(--text-primary-pnglobal);
}


.bg-why .content-why {
    color: #FFFFFF;
    line-height: 25px;
    font-weight: 300;
}

/*----------------------------------------------------------
2.3 Why Start
------------------------------------------------------------*/ 


/*----------------------------------------------------------
2.4 Service Start
------------------------------------------------------------*/ 
.title-service {
    color: var(--text-primary-pnglobal);
    text-align: center;
}

.box-service {
    background-color: #957D4C;
    padding: 2rem 0rem;
    /* margin-right: 3rem; */
    margin-top: 4rem;
}

.box-service.brown {
    background-color: #492A10;
}

.box-service.brown-legal{
    background-color: #7C6553;
}

.box-service.gray {
    background-color: #383734;
}

.box-service.black {
    background-color: #1E1E1E;
}

.box-service.gray-light {
    background-color: #6A625B;
}

.box-service.tan {
    background-color: #B2A291;
}

.box-service.gold {
    background-color: #BFA573;
}

.box-service .link-service {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}

.box-service .link-service:hover {
    color: #492A10;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.1);
    transform-origin:  left;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.box-service .link-service.gold:hover {
    color: #BFA573;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.1);
    transform-origin:  left;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.box-service .box-content {
    background-color: #585858;
    padding: 1rem;
}

.box-service .box-content.gray-trans {
    background-color: #C7B592;
}

.box-service .box-content.trans {
    padding: 0px;
    background-color: transparent;
}


.box-service .box-content .box-content-title {
    font-size: 25px;
    color: var(--text-primary-pnglobal);
    text-transform: uppercase;
}

.box-service .box-content .box-content-subtitle {
    font-size: 18px;
    color: #FFFFFF;
}

.box-service .box-content .box-content-text {
    font-size: 16px;
    color: #FFFFFF;
}
/*----------------------------------------------------------
2.4 Service End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
2.5 Contact form Start
------------------------------------------------------------*/ 
.bg-contactform {
    background-color: var(--bg-contactform-pnglobal);
    padding: 6rem 0px;
}

.bg-contactform .left h1 {
    color: var(--text-primary-pnglobal);
    font-weight: 800;
}

.bg-contactform .left h3 {
    color: #FFFFFF;
    font-weight: 800;
}

.bg-contactform .left p {
    color: #FFFFFF;
    padding-top: 2rem;
    line-height: 30px;
}
/*----------------------------------------------------------
2.5 Contact form End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
2.6 Footer Start
------------------------------------------------------------*/ 
.bg-footer {
    background-image: url('../../assets/img/bg-footer.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 0rem 10rem 0rem ;
}
/*----------------------------------------------------------
2.6 Footer End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
2.7 Finance Homepage Start
------------------------------------------------------------*/ 

.bg-hand  {
    background-image: url(../img/bg-hand.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0rem;
}

.bg-banner-finance {
    border-radius: 0px 5px 5px 0px ;
    background: rgba(56, 55, 52, 0.82);
    -webkit-border-radius: 0px 5px 5px 0px ;
    -moz-border-radius: 0px 5px 5px 0px ;
    -ms-border-radius: 0px 5px 5px 0px ;
    -o-border-radius: 0px 5px 5px 0px ;
    padding: 1rem 3rem;
}

.bg-banner-finance.strategic {
    background: rgba(106, 98, 91, 0.86);
}

.bg-banner-finance.international {
    background: rgba(149, 125, 76, 0.81);
}

.bg-banner-finance.legal {
    background: rgba(47, 26, 7, 0.82);
}

.bg-banner-finance.training {
    background: rgba(191, 165, 115, 0.80);
}

.bg-banner-finance h3 {
    font-size: 28px;
    color: var(--text-primary-pnglobal);
    text-align: start;
}

.bg-banner-finance.strategic h3 {
    color: #E8D9BD;
}

.bg-banner-finance.international h3 {
    color: #FFFFFF;
}

.bg-banner-finance.training h3{
    color: #383734;
}

.finance-win p {
    font-size: 16px;
    line-height: 35px;
}

.finance-service .img-servicer-one {
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    top: 2rem;
}

.finance-service .text-service-one {
    font-size: 16px;
    line-height: 35px;
}


#desc-training .content-title {
    color: var(--text-primary-pnglobal);
}

#desc-training .content-text {
    font-size: 18px;
    line-height: 30px;
}
/*----------------------------------------------------------
2.7 Finance Homepage End
------------------------------------------------------------*/ 



/*----------------------------------------------------------
3. Contact Us Start 
------------------------------------------------------------*/ 
#contactus {
    background-color: #68855C;
}

.contact-us.wrapper {
    overflow-x: hidden;
}


.bg-contact-wrap {
    /* background-color: black; */
    min-height: 100vh;
    padding: 30px;
}

.bg-contact {
    background-color: #D3D3D3;
    height: 100%;
}

input::-webkit-input-placeholder{
  color: rgba(213, 213, 213, 1);
}

input:-moz-placeholder {
  color: rgba(213, 213, 213, 1);
}

.inp-fname {
    height: 70px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: rgba(104, 133, 92, 0.50);
    color: #FFFFFF;
}

.label-email span {
    color: rgba(198, 198, 198, 1);
    margin-left: 10px;
}


.inp-email {
    height: 70px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: rgba(104, 133, 92, 0.50);
    color: #FFFFFF;
}
.inp-email2 {
    height: 70px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: rgba(104, 133, 92, 0.50);
    color: #FFFFFF;
}
.add-more{
    color: rgba(45, 148, 9, 1);
    cursor: pointer;
}

.fa-circle-xmark {
    cursor: pointer;
}

.inp-phone {
    height: 70px;
    width: 460px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: rgba(104, 133, 92, 0.50);
    color: #FFFFFF;
}
.inp-phone2 {
    height: 70px;
    width: 460px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: rgba(104, 133, 92, 0.50);
    color: #FFFFFF;
}

.inp-date {
    height: 70px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: rgba(104, 133, 92, 0.50);
    color: #FFFFFF;
}


.textarea-desc {
    width: 750px;
    height: 120px;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
    background-color: rgba(104, 133, 92, 0.50);
    color: #FFFFFF;
}

textarea::-webkit-input-placeholder{
    color: rgba(213, 213, 213, 1);
}
  
textarea:-moz-placeholder {
    color: rgba(213, 213, 213, 1);
}
  
.nohp-select.input-nohp{
    color: #FFFFFF;
    font-weight: 400 !important;
    width: 100%;
    padding: 20px 20px;
    border-radius: 8px;
    background-color: rgba(104, 133, 92, 0.50);
}

.select2-results__option--highlighted {
    color: white !important;
    background-color: darkgreen !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: darkgray;
}

.select2{
    width: 100% !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    border: none;
    padding: 0px 3px;
}

.select2-container--default .select2-selection--single {
    background-color: rgba(104, 133, 92, 0.50) !important;
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
    height: 70px !important;
    max-width: 500px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 70px !important;
    color: #FFFFFF !important;
}

.select2-container--open .select2-dropdown--above {
    background-color: #B3C2AD !important;
}

.select2-container--default .select2-results__option .select2-results__option {
    color: #FFFFFF;
}

.select2-container--default .select2-results__group {
    color: green;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 21px !important;
    right: 18px !important;
    display: none !important;
}

/*----------------------------------------------------------
3. Contact Us End 
------------------------------------------------------------*/ 



/*----------------------------------------------------------
6. Responsive Start
------------------------------------------------------------*/ 
@media (min-width: 375px) {}
@media (min-width: 425px) {}
@media (min-width: 768px) {
    .logo-text-banner {
        font-size: 24px;
        font-weight: 600;
    }

    .bg-why::before {
        background-image: url('../img/logo.png');
    }

    .bg-why .title-why {
        text-align: start;
    }

    .box-service .link-service {
        font-size: 30px;
    }

    .finance-win p {
        font-size: 20px;
    }

    
    .finance-service .text-service-one {
        font-size: 20px;
    }
    
    .box-service .box-content .box-content-text {
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    .nav-seeservice {
        max-height: 80vh;
    }

    .logo-text-banner {
        font-size: 32px;
        font-weight: 600;
    }

    .finance-service .img-servicer-one {
        top: -2rem;
    }

    .box-service .box-content {
        padding: 3rem;
    }
}
@media (min-width: 1024px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}
/*----------------------------------------------------------
6. Responsive End
------------------------------------------------------------*/ 


