/* Error: Undefined variable.
 *    ,
 * 39 |     color: $secondary-color;
 *    |            ^^^^^^^^^^^^^^^^
 *    '
 *   public\assets\style\sass\layout\_elitepage.scss 39:12  @forward
 *   public\assets\style\sass\layout\_index.scss 26:1       @forward
 *   public\assets\style\sass\main.scss 31:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 39 \2502      color: $secondary-color;\d\a    \2502             ^^^^^^^^^^^^^^^^\a    \2575 \a   public\\assets\\style\\sass\\layout\\_elitepage.scss 39:12  @forward\a   public\\assets\\style\\sass\\layout\\_index.scss 26:1       @forward\a   public\\assets\\style\\sass\\main.scss 31:1                root stylesheet";
}
