/*----------------------------------------------------------
    File Name  : _homepage.scss
    Desc       : File ini merupakan styling untuk Homepage

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * 1. Banner Homepage
 * 2. Team Expert
 * 3. Consulting
 * 4. Why
 * 5. Service
 * 6. About Us
 * 7. Account Deletion
 *
 */

@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;
// @use '../abstracts/animations' as anim;



/*----------------------------------------------------------
1. Banner Homepage Start
------------------------------------------------------------*/ 

.banner-homepage {
    position: relative;
    overflow: hidden;

    .wrapper-banner-homepage {
        display: flex;
        min-height: 100vh !important;
        
        video {
            @include mix.video-banner-center;
        }
        
        .img-banner {
            @include mix.video-banner-center;
        }

        .logo-banner {
            @include mix.flex-tengah-vertical;
            z-index: 2;
            text-align: center;
            width: 100%;

            img {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                width: 150px;
            }

            .button-wrapper {
                display: flex;
                justify-content: center;
                gap: 44px;
                margin-top: 2rem;
            }

            .btn-primary,
            .btn-secondary {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 268px;
                height: 64px;
                border-radius: 5px;

                &:hover {
                    transform: translateY(-5px);
                }

                .btn-text {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: var.$f-noto;
                    text-transform: uppercase;
                    line-height: 25px;
                    padding: 0.5rem;
                }
            }

            .btn-primary {
                background-color: var.$text-primary-pnglobal;
                box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 1);

                &:hover {
                    box-shadow: 0px 8px 8px 0px rgba(255, 255, 255, 0.8);
                }

                .btn-text {
                    color: var.$text-white-pnglobal;
                }
            }

            .btn-secondary {
                background-color: var.$text-white-pnglobal;
                box-shadow: 0px 4px 4px 0px rgba(189, 160, 105, 1);

                &:hover {
                    box-shadow: 0px 8px 8px 0px rgba(189, 160, 105, 0.8);
                }

                .btn-text {
                    color: var.$text-black-pnglobal;
                }
            }

            .text-wrapper {
                background-color: rgba(0, 0, 0, 0.75);
                padding: 20px;
                width: 100%;
                border-radius: 5px;

                .discover-text {
                    font-family: var.$f-noto;
                    color: var.$text-white-pnglobal;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: loose;
                    text-align: center;
                    margin-bottom: 0;
                }
            }

            .logo-text-banner {
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 11px;
                // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                color: var.$text-white-pnglobal;
                
                @include mix.md {
                    letter-spacing: 8px;
                    font-size: 20px;
                }

                @include mix.xl {
                    font-size: 30px;
                }

                @include mix.xl2 {
                    padding: 0rem 3rem;
                    font-size: 40px;
                }

                
                // margin-top: 1.5rem;

                // .line-animation {
                //     @include mix.animation-reveal;
                // }

            .goal-text {
                font-family: var.$f-odor;
                text-transform: uppercase;
                font-weight: normal;
                line-height: 50px;
                font-size: 25px;
                letter-spacing: 0;

                @include mix.md {
                    font-size: 30px;
                }

                @include mix.xl {
                    font-size: 40px;
                }

                // First line
                color: var.$text-white-pnglobal;

                // Second line (gold text)
                span {
                    color: var.$text-primary-pnglobal;
                    display: block; // Forces line break
                }
            }
            }

            .logo-text-banner-teamwork {
                letter-spacing: 4px;
                // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                font-weight: 700;
                text-align: center;
                color: var.$text-black-100-pnglobal;
                margin-top: 1.5rem;

                // .line-animation {
                //     @include mix.animation-reveal;
                // }
            }
        }
    }
}

/*----------------------------------------------------------
1. Banner Homepage End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
2. Future Start
------------------------------------------------------------*/ 

.future-heading {
    color: var.$text-primary-pnglobal;
    text-align: center;
    font-family: var.$f-noto;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    text-transform: uppercase;
}

.future-text {
    color: #000;    
    text-align: center;
    font-family: var.$f-noto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.future-cta {
    color: #000;
    text-align: center;
    font-family: var.$f-noto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    padding: 0 15px;
    margin: 0 auto;
    // max-width: fit-content;
}

/*----------------------------------------------------------
2. Future End End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
3. Consulting Start
------------------------------------------------------------*/ 
.consulting-homepage {
    overflow-x: hidden;

    .wrapper-big-title {
        width: 100%;
        background-color: #000000;

        h1 {
            padding: 1rem;
            color: var.$text-primary-pnglobal;
            text-align: center;
        }
    }

    .box-consulting-homepage {

        margin: 2rem 0;
        
        .wrapper-consulting {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @include mix.lg {
                flex-direction: row;
            }

            img {
                max-width: 100%;
                height: auto;
                margin: 2rem;
                border-radius: 10px;

                @include mix.lg {
                    max-width: 50%;
                }
            }

            .link-consulting {
                text-align: center;
                color: var.$text-white-pnglobal;
                font-size: 25px;
                margin-bottom: 2rem;
                transition: all ease-in-out 0.5s;
                font-weight: 800;

                &:hover {
                    color: var.$text-primary-pnglobal;
                    transform: scale(1.1);
                }
             
                @include mix.lg {
                    margin-bottom: 0rem;
                }

                &.textblack {
                    &:hover {
                        color: var.$text-black-pnglobal;
                    }
                }
            }

        }
        
        
        .black {
            background-color: #000000;
            border-radius: 0px 10px 10px 0px;
        }
        
        .gold {
            background-color: var.$bg-primary-pnglobal;
            border-radius: 10px 0px 0px 10px;
        }

    }
}
/*----------------------------------------------------------
3. Consulting End
------------------------------------------------------------*/ 

/*----------------------------------------------------------
3. Why Choose Start
------------------------------------------------------------*/ 
.why-choose {
    background-color: var.$bg-black-pnglobal;
    overflow: hidden;
    padding: 55px 0;

    .row {
        margin: 0;
    }

    .col-12.col-lg-6 {
        &:last-child {
            padding-right: 0;
            display: flex;
            justify-content: flex-end;
        }
    }

    .why-title {
        color: #BFA573;
        font-family: var.$f-noto;
        font-size: 30px;
        font-weight: 800;
        line-height: 30px;
        text-transform: capitalize;
        margin-bottom: 2rem;
        margin-left: 98px;
        margin-right: 67px;
    }

    .why-desc {
        color: #FFF;
        font-family: var.$f-noto;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 2rem;
        margin-left: 98px;
        margin-right: 67px;
    }

    .why-cta {
        color: #FFF;
        font-family: var.$f-noto;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        margin-left: 98px;
        margin-right: 67px;
    }

    .why-image-container {
        height: 300px;
        overflow: hidden;
        width: 100%;
        
        @include mix.lg {
            height: 413px;
            margin-right: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
/*----------------------------------------------------------
3. Why Choose End
------------------------------------------------------------*/

/*----------------------------------------------------------
4. Why Start
------------------------------------------------------------*/ 
.why-homepage {
    background-color: var.$bg-black-pnglobal;

    .why-left {

        .img-competen {
            width: 100%;
            height: 400px;
            object-fit: contain;
            margin: auto;
            
            @include mix.lg {
                height: auto;
            }
        }

        
        .wrapper-why-logo {
            display: flex;
            align-items: center;
            margin-bottom: 3rem;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            
            img {
                display: inline-block;
                padding-right: 2rem;
                height: 120px;

                // &.line-animation {
                //     @include mix.animation-reveal-to-right;
                // }
            }
        
            h2 {
                line-height: 40px;
                color: var.$text-white-pnglobal;
                padding-bottom: 16px;
                border-bottom: 3px solid var.$text-primary-pnglobal;
                // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

                // &.line-animation {
                //     @include mix.animation-reveal;
                // }
            }


        }
    }

    .why-right {
        
        
        .wrapper-content-why {
            margin: 0.3rem 0;
            overflow: hidden;
            @include mix.xl2 {
                margin: 3rem 0;
            }
       
            
            &.first {
                margin-bottom: 0.3rem;
                @include mix.xl2 {
                    margin-bottom: 3rem;
                }    
            }

            
            .subtitle-why {
                color: var.$text-primary-pnglobal;
                margin-bottom: 1rem;
                font-weight: 800;
                // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

                // .line-animation{
                //     @include mix.animation-reveal;
                // }
            }

    
            .content-why {
                color: var.$text-white-pnglobal;
                line-height: 25px;
                padding-right: 0rem;
                // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                
                // .line-animation{
                //     display: inline-block;
                //     transform: translateY(200px);
                //     -webkit-transform: translateY(200px);
                //     -moz-transform: translateY(200px);
                //     -ms-transform: translateY(200px);
                //     -o-transform: translateY(200px);
                //     transition: transform .5s;
                //     -webkit-transition: transform .5s;
                //     -moz-transition: transform .5s;
                //     -ms-transition: transform .5s;
                //     -o-transition: transform .5s;
                // }

                @include mix.xl2{
                    padding-right: 10rem;
                }
            }

        }

    }

    
}
/*----------------------------------------------------------
4. Why End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
5. Service Start
------------------------------------------------------------*/ 
.service-homepage {
    overflow-x: hidden;
    padding: 2rem 0 0 0; 

    .wrapper-big-title {
        width: 100%;
        background-color: #000000;

        h1 {
            padding: 1rem;
            color: var.$text-primary-pnglobal;
            text-align: center;
        }
    }

    .bg-desc-service {
        margin: 2rem 0;
        padding: 1rem;
        background-color: var.$bg-primary-100-pnglobal;
        
        @include mix.sm {
            padding: 2rem;
        }

        p {
            line-height: 25px;
        }

        .bg-img-service-desc {
            background-image: url('../../img/img-26.webp');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            height: 300px;
            
            @include mix.lg {
                height: auto;
            }
        }

        .bg-img-satoshi-homepage {
            background-image: url('../../img/img-38.webp');
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            height: 300px;
            
            @include mix.lg {
                height: auto;
            }
        }
    }

    .bg-complementary-service {
        background-color: var.$bg-black-pnglobal;

        .flip-box {
            background-color: transparent;
            width: 100%;
            height: 450px;
            border-radius: 20px;
            position: relative;
            perspective: 1000px; 
            
            @include mix.xss {
                height: 400px;

            }

            @include mix.md{
                height: 510px;
            }

            @include mix.lg{
                height: 530px;
            }

            @include mix.xl2{
                height: 460px;
            }

            @include mix.xl3{
                height: 410px;
            }

            &:hover .flip-box-inner {
                transform: rotateY(180deg);
            }
            
            .flip-box-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                border-radius: 20px;
                
              
                .flip-box-front,
                .flip-box-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden; /* Safari */
                    backface-visibility: hidden;
                    border-radius: 20px;
                }
                
                .flip-box-front {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #D9D9D9;
                    color: var.$text-black-pnglobal;
                    padding-bottom: 2rem;                  
                    // background-repeat: no-repeat;  
                    // background-size: cover;
                    // background-position: center center;

                    p {
                        color: #D9D9D9;
                        text-align: center;
                    }


                    // &.flip-1 {
                    //     background-image: url('../../img/flip-1.webp');
                    // }

                    // &.flip-2 {
                    //     background-image: url('../../img/flip-2.webp');
                    // }

                    // &.flip-3 {
                    //     background-image: url('../../img/flip-3.webp');
                    // }

                    &.flip-4 {
                        background-image: url('../../img/flip-4.webp');
                    }

                    &.flip-5 {
                        background-image: url('../../img/flip-5.webp');
                    }

                    &.flip-6 {
                        background-image: url('../../img/flip-6.webp');
                    }
                }
            
                /* Style the back side */
                .flip-box-back {
                    background-color: #CCB78F;
                    color: var.$text-black-pnglobal;
                    transform: rotateY(180deg);
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    @include mix.xs {
                        padding: 2rem;
                    }
                    
                    @include mix.lg {
                        padding: 1.5rem;
                    }

                    @include mix.xl2 {
                        padding: 2rem;
                    }

                    h4 {
                        text-align: start;
                        margin-bottom: 1rem;
                        font-weight: 600;
                    }

                    p {
                        text-align: center;
                    }

                    // a {
                    //     text-decoration: underline;    

                    //     &:hover {
                    //         text-shadow: 2px 2px 2px #FFF;
                    //     }
                    // }
                }
            }
        }
    }

    .bg-hot-deal {
        background-color: var.$bg-primary-pnglobal;

        .zoom-box {
            width: 100%;
            height: 350px;
            border-radius: 20px;
            background-size: cover;
            background-repeat: no-repeat;
            
            &.zoom-1 {
                background-image: url('../../img/zoom-1.webp');
                background-position: center;
            }

            &.zoom-2 {
                background-image: url('../../img/zoom-4.webp');
            }

            &.zoom-3 {
                background-image: url('../../img/zoom-3.webp');
            }
            
            .with-blur-backdrop {
                display: flex;
                align-items: end;
                justify-content: center;
                border-radius: 20px;    
                height: 100%;
                transition: ease 0.5s;
                padding: 0rem 0.2rem 2rem 0.2rem;
                
                @include mix.sm {
                    padding: 0rem 4.2rem 2rem 4.2rem;
                }

                @include mix.md {
                    padding: 0rem 8rem 2rem 8rem;
                }

                @include mix.lg {
                    padding: 0rem 2rem 2rem 2rem;
                }

                @include mix.xl2 {
                    padding: 0rem 6rem 2rem 6rem;
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);
                }

                &:hover .btn-zoom {
                    background-color: var.$bg-white-pnglobal;
                    color: var.$text-primary-pnglobal;
                }
            }
        }
    }
}


/*----------------------------------------------------------
5. Service End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
6. About Us Start
------------------------------------------------------------*/ 
.banner-about {
    position: relative;
    overflow: hidden;

    .wrapper-about {
        display: flex;
        min-height: 100vh;

        video {
            @include mix.video-banner-center;
        }

        .banner-text-video {
            width: 100%;
            z-index: 2;
            display: flex;
            justify-content: start;
            align-items: end;
            margin-bottom: 4rem;

            .bg-text-video {
                border-radius: 0px 5px 5px 0px ;
                -webkit-border-radius: 0px 5px 5px 0px ;
                -moz-border-radius: 0px 5px 5px 0px ;
                -ms-border-radius: 0px 5px 5px 0px ;
                -o-border-radius: 0px 5px 5px 0px ;
                padding: 1rem 3rem;
                font-weight: 700;
                
                &.about {
                    background: rgba(232, 217, 189, 0.75);
                    color: #383734;
                }
            }   
        }
    }
}

.about-formation {
    background-color: var.$bg-about-pnglobal;

    .row {
        .wrapper-about-formation-left {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            h2 {
                hr {
                    margin-top: 2rem;
                    width: 70% !important;
                    height: 3px;
                    color: var.$text-primary-pnglobal;
                    background-color: var.$text-primary-pnglobal;
                    opacity: 1;
                }
            }

        }
        .wrapper-about-formation-right {
            .skill-training {
                h3 {
                    text-transform: uppercase;
                    color: var.$text-primary-pnglobal;
                    margin-bottom: 1rem;
                }

                p {
                    span {
                        font-weight: 700;
                    }
                }
            }
        } 
    }
}

.about-climb {
    background: url('../../img/bg-climb.png'), #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 185vh;
 
    @include mix.xl2 {
        height: 170vh;
    }

    .container {
        height: 170vh;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        
        @include mix.xl2 {
            height: 150vh;
        }


        .row {
            .wrapper-about-climb-left {
                height: auto;
                display: flex;
                align-items: end;

                @include mix.lg {
                    height: 100%;
                }

                .wrapper-content {
                    p {
                        color: var.$text-white-pnglobal;
                        line-height: 35px;
    
                        span {
                            color: var.$text-primary-pnglobal;
                        }
                    }
                }
            }
            .wrapper-about-climb-right {
                height: 100%;

                .wrapper-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p {
                        color: var.$text-white-pnglobal;
                        line-height: 35px;
    
                        span {
                            color: var.$text-primary-pnglobal;
                        }
                    }
                }
            }
        }
    }
}

.bg-about-collab {
    background-color: var.$bg-primary-100-pnglobal;

    .about-plan {
        img {
            display: block;
            width: 100%;
            height: 95%;
            object-fit: cover;
            object-position: right;
            padding-right: 3rem ;
        }

        p {
            padding: 2rem 5rem 2rem 2rem;
            text-align: justify;
            line-height: 35px;

            span {
                color: var.$text-white-pnglobal;
            }
        }
    }
    
    .about-vision {
        .wrapping-video {
            display: flex;
            justify-content: end;

            video {
                    width: 100%;
                    height: auto;
                    // right: -0.5rem;
            }
        
        }
        p {
            padding: 2rem;
            text-align: justify;
            line-height: 35px;

            span {
                color: var.$text-white-pnglobal;
            }
        }
    }
}

/*----------------------------------------------------------
6. About Us End
------------------------------------------------------------*/ 


/*----------------------------------------------------------
7. Account Deletion Start
------------------------------------------------------------*/ 
.wrapper-account-deletion {
    overflow-x: hidden;
    .header-account-deletion{
        overflow-x: hidden;
        @include mix.flex-tengah;
        background-color: #CCB78F4A;
        padding: 2rem;

        h2 {
            text-align: center;
            font-weight: 600;
        }
    }

    .first-step {
        margin-top: 2rem;

        h4 {
            text-align: center;
        }

        .box-cons {
            background-color: #CCB78F4A;
            border-radius: 10px;
            padding: 2rem 1rem 2rem 3rem;
            margin-top: 2rem;

            ul li {
                list-style: disc;
            }
        }

        .by-continue {
            text-align: center;
            margin-top: 1rem;
        }
    }

    .second-step {
        margin-top: 2rem;

        h4 {
            text-align: center;
        }

        .box-cons {
            background-color: #CCB78F4A;
            border-radius: 10px;
            padding: 1rem;
            margin-top: 2rem;

            ul li {
                list-style: disc;
            }
        }

        .actions-button {
            margin-top: 1rem;
        }
    }
}

/*----------------------------------------------------------
7. Account Deletion End
------------------------------------------------------------*/ 