/*----------------------------------------------------------
    File Name  : _navbar.scss
    Desc       : File ini merupakan styling untuk navbar Homepage

------------------------------------------------------------*/

/**
 * TABLE OF CONTENTS
 *
 * 1. Navbar Homepage
 *
 */

@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

/*----------------------------------------------------------
1. Navbar Homepage Start
------------------------------------------------------------*/
.navbar {
    /* background-color: rgba(217, 217, 217, 0.15); */
    background-color: rgba(9, 9, 9, 0.75);
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;

    &.navbar-dark-full {
        background-color: #000 !important;
    }

    .logo {
        height: 50px;
        width: auto;
    }

    .logo-text {
        font-family: 'Odor Mean Chey', serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
        display: flex;
        gap: 0.5rem;

        .text-gold {
            color: #bda069;
        }

        .text-white {
            color: #ffffff;
        }
    }

    .navbar-collapse {
        @include mix.lg-down {
            padding: 1rem;
            border-radius: 8px;
            margin-top: 1rem;
        }
    }

    .navbar-nav {
        @include mix.flex-tengah;
        width: 100%;
        gap: 2rem;

        @include mix.lg-down {
            flex-direction: column;
            gap: 1rem;
        }

        // Regular nav items
        .nav-item {
            .nav-link {
                color: var.$text-white-pnglobal;
                font-family: var.$f-poppins;
                font-size: 15px;
                text-align: center;

                &:hover {
                    color: #bda069;
                }

                @include mix.lg-down {
                    padding: 0.5rem 0;
                }
            }
        }

        .dropdown {
            position: relative;
            &:hover {
                .dropdown-menu {
                    display: block;
                    margin-top: 0;
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%);

                    @include mix.lg-down {
                        display: none;
                        transform: none;
                    }
                }
            }

            @include mix.lg-down {
                width: 100%;
            }

            .dropdown-toggle {
                @include mix.lg-down {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                }

                &::after {
                    @include mix.lg-down {
                        margin-left: auto;
                    }
                }
            }

            .dropdown-menu {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                background: #0b0a08;
                border: none;
                text-align: center;
                min-width: 350px;
                width: max-content;
                max-width: 600px;
                visibility: hidden;
                transition: all 0.3s ease;

                @include mix.lg-down {
                    position: static;
                    transform: none;
                    background: transparent;
                    min-width: 100%;
                    max-width: 100%;
                    padding: 0;
                    margin-top: 0;
                    display: none;
                    visibility: visible;
                }

                &.show {
                    @include mix.lg-down {
                        display: block;
                    }
                }

                .dropdown-item {
                    color: #d1b06b;
                    transition: all 0.3s ease;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 10px 68px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: var.$f-poppins;
                    width: 100%;

                    @include mix.lg-down {
                        padding: 8px 0;
                    }

                    &:hover {
                        background-color: #d1b06b;
                        color: #0b0a08;
                        width: 100%;
                        font-weight: 800;
                        line-height: 25px;
                    }
                }
            }
        }
    }

    // New container for buttons
    .nav-buttons {
        display: flex;
        gap: 1rem;
        margin-left: auto;

        @include mix.lg-down {
            width: 100%;
            margin-top: 1rem;
        }

        .btn-navbar-referral {
            width: 122px;
            height: 43px;
            background-color: #bfa573;
            display: flex;
            align-items: center;
            font-size: 13px;
            text-decoration: none;
            text-align: center;
            font-size: 14px;
            font-family: var.$f-poppins;
            color: #ffffff;

            @include mix.lg-down {
                width: 100%;
                justify-content: center;
            }

            &:hover {
                color: #0b0a08;
                background-color: #ffffff;
            }
        }
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

    .openbtn {
        background: var.$text-primary-pnglobal;
        width: 45px;
        height: 45px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }

    .openbtn span {
        position: absolute;
        background: #fff;
        display: inline-block;
        border-radius: 3px;
        right: 14px;
        height: 3px;
        transition: all 0.4s;
        &:nth-of-type(1) {
            top: 13px;
            width: 45%;
        }
        &:nth-of-type(2) {
            top: 21px;
            width: 35%;
        }
        &:nth-of-type(3) {
            top: 29px;
            width: 20%;
        }
    }

    .openbtn.active span {
        &:nth-of-type(1) {
            width: 45%;
            top: 16px;
            left: 12px;
            transform: translateY(6px) rotate(-135deg);
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            width: 45%;
            top: 28px;
            left: 12px;
            transform: translateY(-6px) rotate(135deg);
        }
    }

    // .nav-seeservice{
    //     height: 100vh !important;
    //     overflow-x: hidden;
    // }

    // .dropdown-menu {
    //     position: absolute;
    //     width: 100%;
    //     height: 100vh;
    //     top: -2px;
    //     padding: 0;
    //     margin: 0;
    //     transform: none ;
    //     -webkit-transform: none ;
    //     -moz-transform: none ;
    //     -ms-transform: none ;
    //     -o-transform: none ;
    //     overflow: hidden;

    //     .bg-nav-service {
    //         height: 100%;
    //         width: 100%;
    //         object-fit: cover;
    //         object-position: 0;
    //     }

    //     .link-navbar-text {
    //         font-family: "Montserrat", sans-serif;
    //         line-height: 18px;
    //         font-weight: 800;
    //         font-variant: small-caps;
    //         color: var.$text-primary-pnglobal;

    //         &:hover {
    //             color: #FFFFFF;
    //             transform: scale(3);
    //             -webkit-transform: scale(3);
    //             -moz-transform: scale(3);
    //             -ms-transform: scale(3);
    //             -o-transform: scale(3);
    //         }
    //     }
    // }
}

/*----------------------------------------------------------
1. Navbar Homepage End
------------------------------------------------------------*/
