/*----------------------------------------------------------
    File Name  : _navbar.scss
    Desc       : File ini merupakan styling untuk navbar Homepage

------------------------------------------------------------*/ 

/**
 * TABLE OF CONTENTS
 *
 * 1. Navbar Homepage
 *
 */


@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;


/*----------------------------------------------------------
1. Navbar Homepage Start
------------------------------------------------------------*/ 
.navbar {
    // background-color: rgba(217, 217, 217, 0.15);
    background-color: rgba(9, 9, 9, 0.75);;
    position: absolute;
    top: 0;
    z-index: 999; 
    width: 100%;

    .navbar-logo {
        @include mix.flex-tengah;

        .logo {
            height: 50px;
            
            @include mix.md {
                height: 80px;
            }

        }

        .logo-text {
            text-align: center;
            color: var.$text-white-pnglobal;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 3px;
            margin-left: 1rem;
            display: none;

            @include mix.xss {
                display: inline-block;
            }
            

            span {
                color: var.$text-primary-pnglobal;
            }
        }
    }

    .navbar-nav {

        @include mix.flex-tengah;
        width: 100%;

        // Regular nav items
            .nav-item {
                .nav-link {
                    color: var.$text-white-pnglobal;
                    font-size: 15px;
                    text-align: center;
        
                    &:hover {
                        font-weight: 700;
                        text-decoration: underline;
                    }
                }
            }
        
    }

    // New container for buttons
    .nav-buttons {
        display: flex;
        gap: 1rem;
        margin-left: auto;

        .btn-navbar-referral {
                width: 122px;
                height: 43px;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0px 4px 4px 0px rgba(189, 160, 105, 1);
                display: flex;
                align-items: center;
                font-size: 13px;
                text-decoration: none;
                text-align: center;
                color: var.$text-primary-pnglobal;
                font-size: 14px;
                transition: all 0.3s ease;
        
                &:hover {
                    transform: translateY(-2px);
                }
            }
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    
    .openbtn {
        background: var.$text-primary-pnglobal;
        width: 45px;
        height: 45px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
    }
    
    .openbtn span {
        position: absolute;
        background: #fff;
        display: inline-block;
        border-radius: 3px;
        right: 14px;
        height: 3px;
        transition: all .4s;
        &:nth-of-type(1) {
            top: 13px;
            width: 45%;
        }
        &:nth-of-type(2) {
            top: 21px;
            width: 35%;
        }
        &:nth-of-type(3) {
            top: 29px;
            width: 20%;
        }
    }
    
    .openbtn.active span{
        &:nth-of-type(1) {
            width: 45%;
            top: 16px;
            left: 12px;
            transform: translateY(6px) rotate(-135deg);
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            width: 45%;
            top: 28px;
            left: 12px;
            transform: translateY(-6px) rotate(135deg);
        }
    }
    

    // .nav-seeservice{
    //     height: 100vh !important;
    //     overflow-x: hidden;
    // }

    // .dropdown-menu {
    //     position: absolute;
    //     width: 100%;
    //     height: 100vh;
    //     top: -2px;
    //     padding: 0;
    //     margin: 0;
    //     transform: none ;
    //     -webkit-transform: none ;
    //     -moz-transform: none ;
    //     -ms-transform: none ;
    //     -o-transform: none ;
    //     overflow: hidden;


    //     .bg-nav-service {
    //         height: 100%;
    //         width: 100%;
    //         object-fit: cover;
    //         object-position: 0;
    //     }
    
        
    //     .link-navbar-text {
    //         font-family: "Montserrat", sans-serif;
    //         line-height: 18px;
    //         font-weight: 800;
    //         font-variant: small-caps;
    //         color: var.$text-primary-pnglobal;
    
    //         &:hover {
    //             color: #FFFFFF;
    //             transform: scale(3);
    //             -webkit-transform: scale(3);
    //             -moz-transform: scale(3);
    //             -ms-transform: scale(3);
    //             -o-transform: scale(3);
    //         }
    //     }
    // }

}

/*----------------------------------------------------------
1. Navbar Homepage End
------------------------------------------------------------*/ 



