@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.page-wrapper {
    background-color: #000;
}

.banner-satoshi {
    position: relative;
    overflow: hidden;

    .wrapper-banner-satoshi {
        display: flex;
        min-height: 100vh !important;

        video {
            @include mix.video-banner-center;
            filter: brightness(0.7);
        }

        .logo-banner {
            @include mix.flex-tengah-vertical;
            z-index: 2;
            text-align: center;
            width: 100%;

            .text-wrapper {
                background: rgba(0, 0, 0, 0.71);
                padding: 2rem;
                width: 100%;
                border-radius: 5px;

                .logo-text-banner {
                    color: #fff;
                    text-transform: uppercase;
                    margin-bottom: 11px;
                    font-size: 16px;
                    font-weight: 700;
                    text-align: center;

                    @include mix.md {
                        font-size: 20px;
                    }

                    @include mix.xl {
                        font-size: 30px;
                    }

                    @include mix.xl2 {
                        padding: 0rem 3rem;
                        font-size: 40px;
                    }

                    .goal-text {
                        color: #bda069;
                        text-align: center;
                        font-family: var.$f-noto;
                        font-size: 35px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 45px; /* 128.571% */
                        text-transform: uppercase;
                    }
                }

                .discover-text {
                    color: #fff;
                    font-family: var.$f-noto;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 37.5px */
                    text-align: center;
                    margin-top: 1rem;
                    max-width: 980px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.success-section {
    padding: 60px 0;
    background-color: #fff;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        text-align: center;

        h2 {
            color: #000;
            font-family: var.$f-noto;
            font-size: 30px;
            font-weight: 800;
            line-height: 30px;
            margin-bottom: 30px;
        }

        .description {
            color: #000;
            font-family: var.$f-noto;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            max-width: 1030px;
            margin: 0 auto 50px;
        }

        .button-wrapper {
            display: flex;
            justify-content: center;

            .activate-button {
                width: 334px;
                height: 64px;
                border: none;
                border-radius: 5px;
                background: #bda069;
                color: #000;
                font-family: var.$f-noto;
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                text-transform: uppercase;
                cursor: pointer;
                padding: 0 20px;
                transition: all 0.3s ease;

                &:hover {
                    background: #000;
                    color: #bda069;
                    font-size: 19px;
                    font-weight: 700;
                    box-shadow: 0px 4px 15px 5px #bda069;
                }
            }
        }
    }
}

.revolutionize-section {
    .top-content {
        background-color: #000;
        padding: 60px 0;

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;

            h2 {
                color: #bda069;
                text-align: center;
                font-family: var.$f-noto;
                font-size: 35px;
                font-weight: 600;
                line-height: 144.687%;
                text-transform: uppercase;
                margin-bottom: 30px;
            }

            .description {
                color: #fff;
                text-align: center;
                font-family: var.$f-noto;
                font-size: 20px;
                font-weight: 500;
                line-height: 35px;
                margin: 0 auto;

                .highlight {
                    color: #fff;
                    font-family: var.$f-noto;
                    font-size: 20px;
                    font-weight: 800;
                    line-height: 35px;
                }
            }
        }
    }

    .bottom-content {
        background-image: url('../../img/bg_satoshi_165.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 600px;
        position: relative;
        padding: 60px 0;

        .container {
            position: relative;
            z-index: 2;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 15px;

            .row {
                display: flex;
                justify-content: space-around;
                gap: 20px;
                padding: 0 120px;
                margin-bottom: 40px;

                &.top-row {
                    justify-content: space-between;
                }

                &.bottom-row {
                    justify-content: center;
                }
            }
        }

        .signal-card {
            width: 419px;
            height: 224px;
            flex-shrink: 0;
            border-radius: 10px;
            background: linear-gradient(
                315deg,
                #000 -3.54%,
                #f7f4ee 50.57%,
                #fff 94.71%
            );

            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card-title {
                background: conic-gradient(
                    from 45deg,
                    #000 0deg,
                    #666 90deg,
                    #000 180deg,
                    #666 270deg,
                    #000 360deg
                );
                padding: 15px;
                margin-bottom: 20px;
                width: 100%;
                min-height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;

                h3 {
                    color: #bda069;
                    text-align: center;
                    font-family: var.$f-noto;
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 144.687%;
                    text-transform: uppercase;
                }
            }

            .card-text {
                color: #000;
                font-family: var.$f-noto;
                font-size: 20px;
                font-weight: 500;
                line-height: 25px;
                text-align: left;
            }
        }
    }
}
