/*----------------------------------------------------------
    File Name  : _trainingcourse.scss
    Desc       : File ini merupakan styling untuk Training Course

------------------------------------------------------------*/

/**
 * TABLE OF CONTENTS
 *
 * //semua//
 *
 */

@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.dark-bg-sections {
    background-color: #000;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 85px 0 125px;

    > section {
        margin: 85px 0 125px;
        width: 100%;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Advanced training section
.advanced-training {
    position: relative;
    overflow: visible;
    background: #1e1e1e;
    z-index: 2;

    .section-title {
        color: #bfa573;
        font-family: var.$f-noto;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: 45px; /* 150% */
        margin-bottom: 1rem;
    }

    .section-subtitle {
        color: #fff;
        font-family: var.$f-noto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 4rem;
    }

    .section-description {
        color: #fff;
        font-family: var.$f-noto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
    }

    img {
        min-width: 473px;
        min-height: 418px;
        object-fit: contain;
        margin-bottom: -50px;
        position: relative;
        z-index: 3;
    }
}

.course-content {
    padding: 30px 0;
    background-color: #000;
    z-index: 1;

    .section-title {
        color: #fff;
        font-family: var.$f-noto;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        text-transform: capitalize;
        text-align: center;
        margin: 0 auto 1rem;
        width: fit-content;

        &:after {
            content: '';
            display: block;
            width: calc(100% + 30px);
            height: 3px;
            background: #bfa573;
            margin: 20px -15px;
        }
    }

    .section-description {
        color: #fff;
        font-family: var.$f-noto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 2rem;

        strong {
            color: #bfa573;
            font-family: var.$f-noto;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
        }
    }
}

.aspiring-entrepreneurs {
    padding: 50px 0;
    background: #fff;

    .section-title {
        color: rgba(56, 55, 52, 0.82);
        font-family: var.$f-noto;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        text-align: center;
        margin: 0 auto 1rem;
        width: fit-content;

        &:after {
            content: '';
            display: block;
            width: calc(100% + 30px);
            height: 3px;
            background: #bfa573;
            margin: 20px -15px;
        }
    }

    .section-subtitle {
        color: #1e1e1e;
        font-family: var.$f-noto;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        text-transform: capitalize;
        margin-bottom: 2rem;
    }

    .section-description {
        color: #000;
        font-family: var.$f-noto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
}

.understand-bitcoin {
    padding: 30px 0 0;
    background: rgba(97, 95, 91, 0.84);
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: visible;

    .section-description {
        color: #bfa573;
        font-family: var.$f-noto;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 2rem;
    }

    .section-content {
        color: #fff;
        font-family: var.$f-noto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .bitcoin-title {
        color: #fff;
        font-family: var.$f-noto;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin: 0 auto 2rem;
        text-align: left;
        width: fit-content;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: calc(100% + 30px);
            height: 3px;
            background: #bfa573;
            margin: 10px -15px;
        }
    }

    img {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: -50px; // Push image down
        z-index: 2; // Ensure image stays above next section
    }
}

.blockchain-design {
    padding: 30px 0 0;
    background: #1e1e1e;
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: visible;

    .section-description {
        color: #bfa573;
        font-family: var.$f-noto;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 2rem;
    }

    .section-content {
        color: #fff;
        font-family: var.$f-noto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .blockchain-title {
        color: #fff;
        font-family: var.$f-noto;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin: 0 auto 2rem;
        text-align: left;
        width: fit-content;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: calc(100% + 30px);
            height: 3px;
            background: #bfa573;
            margin: 10px -15px;
        }
    }

    img {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: -50px; // Push image down
        z-index: 2; // Ensure image stays above next section
    }
}

.bitcoin-mining {
    padding: 30px 0 0;
    background: #bfa573;
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: visible;

    .section-description {
        color: #fff;
        font-family: var.$f-noto;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 2rem;
    }

    .section-content {
        color: #1e1e1e;
        font-family: var.$f-noto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .mining-title {
        color: #1e1e1e;
        font-family: var.$f-noto;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin: 0 auto 2rem;
        text-align: left;
        width: fit-content;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: calc(100% + 30px);
            height: 3px;
            background: #fff;
            margin: 10px -15px;
        }
    }

    img {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: -50px; // Push image down
        z-index: 2; // Ensure image stays above next section
    }
}

.dark-bg-sections > * {
    margin: 0;
}
